#story {
  display: none;
}

#letterBody {
  display: none;
  font-family: cursive;
}

.jumbotron {
  background-color: lightgrey;
  text-align: center;
}

.card {
  background: url(paper.jpg);
  border: 1px dotted black;
  border-radius: 10px;
}

#inputReturn {
  display: none;
}